.control__title {
  // Positioning
  text-align: center;
  padding-bottom: 29px;
}
.control__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 58px;
}
.control__flex-content {
  max-width: 473px;
}
.control__img-wrapper {
  max-height: 413px;
}
.control__img {
  max-height: 100%;
  max-width: 100%;
}
.control__flex-title {
  padding-top: 24px;
  font-size: clamp(21px, 1.284rem + 0.12vw, 22px);
}
.control__text {
  padding-top: 10px;
  text-align: start;
  //Fonts
  color: var(--text-desc);
  font-size: 13px;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.104px;
  text-transform: uppercase;
  //Size
  max-width: 465px;
}
