.quiz__inner {
  padding: 40px 0 42px 0;
}

.quiz__title {
  // Positioning
  text-align: center;
  padding-bottom: 25px;
}

.quiz__item {
  max-width: 955px;
  height: 536px;
  background-color: var(--ui-silver);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
