.title {
  // Font Options
  color: var(--text-color);
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.176px;
  text-transform: uppercase;
  span {
    font-weight: 700;
  }

  @include desktop-small() {
    font-size: clamp(16px, 0.806rem + 0.83vw, 22px);
    line-height: 114%;
  }
}
