/* Подключаем шрифты */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/* Задаем параметры шрифта в тегах */
p,
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center; /* Тег по центру контейнера */
}
/* Задаем параметры основному контейнеру, который имитируем окно браузера*/
.container {
  border: 2px solid rgba(87, 84, 84, 0.219); /* Параметры границы */
  max-width: 500px; /* Минимальная ширина */
  margin: 50px auto 50px; /* Внешний отступ сверху, слева и справа (по центру), снизу */
}
/* Параметры контейнера для nav, main, aside */
.wrapper {
  display: flex; /* Flex-контейнер */
  justify-content: space-around; /* Прижимаем элементы к краям контейнера с одинаковым отступом между ними */
  margin: 20px; /* Внешний отступ от контейнера */
  gap: 20px; /* Внутренний отступ между элементами  */
}
/* Границы и отступы */
article,
section,
footer,
header,
nav {
  border: 2px solid rgba(87, 84, 84, 0.219); /* Параметры границы */
  margin: 20px; /* Внешний отступ со всех сторон */
}

/* Цвет фона блоков */
header {
  background: #b6e0a1;
}
nav {
  background: #b4b8bb;
}
article {
  background: #b4b8bb;
}
section {
  background: #78858f;
}
footer {
  background: #ebc1ff;
}
aside {
  background: #fdcbc4;
}
main {
  background: #fceca1;
}
/* Нестандартные элементы */
aside {
  border: 2px solid rgba(87, 84, 84, 0.219); /* Параметры границы */
  width: 30%; /* Ширина которую занимает nav внутри wrapper */
  display: flex; /* Flex-контейнер */
  align-items: center; /* Вертикальное выравнивание элементов внутри контейнера по центру */
  justify-content: center; /* Горизонтальное выравнивание элементов внутри контейнера по центру */
}
main {
  border: 2px solid rgba(87, 84, 84, 0.219); /* Параметры границы */
  width: 70%; /* Ширина которую занимает main внутри wrapper */
}
/* Доп класс для выравнивая в линию*/
.section__line {
  display: flex; /* Flex-контейнер */
  justify-content: space-around; /* Прижимаем элементы к краям контейнера с одинаковым отступом между ними */
}
/* Доп класс для полной ширины*/
.noaside {
  width: 456px; /* Ширина которую занимает main внутри wrapper */
}
/* Доп класс отступов*/
.m20 {
  margin: 20px; /* Внешний отступ со всех сторон */
}
