@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

/* ==========================Hero=============================== */

.hero {
  padding-top: 48px;
  padding-bottom: 140px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

.hero__info {
  max-width: 519px;
}

.hero_data {
  display: flex;
  color: #b197b2;
  line-height: 1.6;
  text-transform: uppercase;
}

.hero_data span {
  display: flex;
  align-items: center;
}

.hero_data span::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #b197b2;
  margin: 0 10px;
}

.hero_data span:last-child:after {
  content: none;
}

.hero_title {
  margin-top: 20px;
}

.hero__text {
  margin-top: 30px;
  max-width: 358px;
}

.hero__button {
  margin-top: 40px;
}

.hero__button-width {
  max-width: 358px;
}

.hero_img {
  position: relative;
  margin-right: 247px;
}

.hero_img > img {
  width: 100%;
}

.hero_play {
  display: flex;
  align-items: center;
  position: absolute;
  max-width: 200px;
  gap: 10px;
  bottom: 11%;
  left: calc(100% - 39px);
}

.hero_play--mobile {
  display: none;
}

.hero_play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #ffe0cb;
  box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
  position: relative;
}

.hero_play-btn img {
  padding-left: 9%;
}

.hero_play-btn::before {
  content: "";
  position: absolute;
  /* top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px; */
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  opacity: 0;
  transition: all 0.5s;
}

.hero_play-btn:hover::before {
  opacity: 1;
}

/* ==========================Team=============================== */

.team {
  padding: 140px 0;
  font-weight: 400;
}

/* .team__items {
  display: flex;
  gap: 53px;
} */

.team__items {
  display: grid;
  gap: 40px 53px;
  grid-template-columns: 1fr 1.05fr;
  grid-template-rows: repeat(2, auto);
}

.team__item-img {
  /* max-width: 603px;
  max-height: 543px; */
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  grid-row: 1/-1;
}

.team__item-img > img {
  width: 100%; /* Вызывает уменьшение изображения */
  height: 100%;
  object-fit: cover;
  object-position: 5% 50%;
}

.team__gift {
  position: absolute;
  display: flex;
  align-items: center;
  left: 5%;
  bottom: 5%;
  background: #957b97e6;
  max-width: 299px;
  padding: 15px 20px;
  margin-right: 30px;
  gap: 10px;
  border-radius: 20px;
  color: var(--general-bg);
  font-weight: 300;
}

.team__gift-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: #fff9f4;
  position: relative;
}

.team__gift-btn::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 1px solid #ceaad0;
  opacity: 0;
  transition: all 0.5s;
}

.team__gift-btn:hover::before {
  opacity: 1;
}

.team__item-content {
  display: flex;
  flex-direction: column;

  max-width: 624px;
}

.team__item-content .slogan {
  margin-bottom: 30px;
}

.team___item-info {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  flex-wrap: wrap;
  /* margin-top: 40px; */
}

.team__box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 296px;
  max-height: 130px;
  background: var(--accent-bg);
  border-radius: 20px;
  gap: 15px;
  padding: 29px 24px;
  height: 100%;
}

.team__box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #312c27;
  position: relative;
}

/* ==========================Program=============================== */

.program {
  padding-bottom: 145px;
}

.program__title {
  margin-bottom: 20px;
}

.program__top {
  display: flex;
  justify-content: space-between;
  gap: 30px 15px;
}

.program__text {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.program__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.program__item {
  display: flex;
  gap: 15px;
}

.program__button {
  padding: 14px 30px;
  border-radius: 100px;
  box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
  transition: all 0.9s;
  white-space: nowrap;
  display: block;
}

.program__button:hover {
  background: var(--accent-bg);
}

.button--active {
  box-shadow: none;
  background: var(--accent-bg);
}

/* ==========================Program Tabs=============================== */

.program__tab {
  /* grid-column: 1/-1; */
  display: none;
}

.tab--active {
  display: block;
}

/* ==========================Accordion=============================== */

.accordion {
  margin-top: 60px;
}
.accordion__list {
  margin-bottom: 30px;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
}
.accordion__list:last-child {
  margin-bottom: 0;
}

.accordion__list--opened {
  overflow: hidden;
}

.accordion__list-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */ /* Удаляем центрирование для стрелки, чтобы она не переносилась*/
  padding: 40px 30px;
  background: transparent;
  font-size: inherit; /* Наследует параметры шрифта от родителя*/
  gap: 15px;
  text-align: left; /* Сбрасываем стили кнопок */
  transition: all 0.5s;
}

.accordion__list--opened .accordion__list-btn {
  padding-bottom: 20px;
}

.accordion-title {
  font-family: "Gabriola", "Arial", serif;
  font-size: 42px;
  line-height: 0.9;
  color: var(--accent-text);
}
.accordion__arrow-inner {
  width: 36px;
  height: 36px;
  border: solid 1px var(--accent-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.accordion__arrow,
.accordion__arrow-inner,
.accordion__arrow path {
  transition: all 0.4s;
}

.accordion__list-btn:hover .accordion__arrow-inner {
  transform: rotate(90deg);
  background: var(--accent-color);
}

.accordion__list-btn:hover .accordion__arrow path {
  fill: #fff;
}

.accordion__list--opened .accordion__arrow-inner {
  transform: rotate(90deg);
  background: var(--accent-color);
  fill: #fff;
}

.accordion__list--opened .accordion__arrow path {
  fill: #fff;
}

.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.accordion-content {
  display: flex;
  padding: 0 30px 40px;
  gap: 80px;
}

.accordion-content__col:first-child {
  max-width: 507px;
  width: 100%;
}

.accordion-content__title {
  line-height: 1.6; /* 25.6px */
  text-transform: uppercase;
  color: #ceaad0;
}
.accordion-content__list {
  margin-top: 20px;
}
.accordion-content__item {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.accordion-content__item:last-child {
  margin-bottom: 0;
}

.accordion-content__icon {
  width: 24px;
  height: 24px;
  border: solid 1px #ceaad0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.accordion-content__text {
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 274px;
}

/* ==========================Price=============================== */

.price__inner {
  margin-top: 40px;
}
.price__items {
  display: flex;
  justify-content: space-between;
}
.price__grid {
  max-width: 501px;
  width: 100%;
  display: grid;
  grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
  gap: 40px;
  flex-shrink: 0;
}

.price__discount-inner {
  grid-row: 1/3;
}

.price__discount {
  display: flex;
  flex-direction: column;
  background: var(--accent-bg);
  padding: 47px 81px 43px 40px;
  border-radius: 20px;
  /* height: 100%;  */ /* Растягиваем элемент на всю ширину контента */
}

.price__discount-title {
  font-size: 20px;
  width: 166px;
}

.price__discount-text {
  font-family: "Gabriola", "Arial", serif;
  font-size: 74px;
  line-height: 0.82;
  color: var(--accent-color);
  margin: 0 0 7px 31px;
  animation: zoom 0.8s infinite alternate;
  transform-origin: 0 0; /* Сдвигаем осевые линии к верхнему левому углу */
}

@keyframes zoom {
  0% {
    transform: scale(1);
    color: var(--accent-color);
  }
  100% {
    transform: translateX(5%) scale(1.1);
    color: #ff9138;
  }
}

.price__discount-data {
  text-align: end;
}

.price__item-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.price__item-title {
  line-height: 1.6;
  text-transform: uppercase;
  color: #ceaad0;
}

.price__main {
  font-family: "Gabriola", "Arial", serif;
  font-size: 32px;
  line-height: 0.9;
  color: var(--general-text);
}

.price__second {
  font-family: "Gabriola", "Arial", serif;
  font-size: 50px;
  line-height: 0.9;
  color: var(--general-text);
}

.price__button-inner {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.price__button {
  max-width: none;
}

.price__img img {
  width: 100%;
}

/* ==========================Gallery=============================== */

/* ==========================Modal=============================== */

.modal {
  position: fixed;
  inset: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000c1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.modal--open {
  opacity: 1;
  visibility: visible;
}

.modal__window {
  position: relative;
  max-width: 428px;
  max-height: 491px;
  width: 100%;
  height: 100%;
  padding: 0 60px;
  background: var(--general-bg);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__window > img {
  max-width: 248px;
  margin-top: -65px;
}

.modal__items {
  margin-top: 15px;
}

.modal__title {
  font-family: "Gabriola", "Arial", serif;
  font-size: 42px;
  line-height: 0.9;
  color: var(--accent-text);
}

.modal__text {
  margin-top: 10px;
  margin-bottom: 30px;
}

/* ==========================Field=============================== */

.field {
  position: relative;
  display: block; /* Делаем блок, чтобы текст был в одну линию */
}

.field span {
  position: absolute;
  top: 12px;
  left: 29px;
  font-size: 11px;
  color: #ac907a;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.field_input {
  background: transparent;
  border-radius: 100px;
  border: 1px solid #ac907a;
  padding: 18px 28px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  transition: all 0.9s;
}

.field_input:hover {
  border-color: #ffa55c;
}

.field_input:focus + span {
  opacity: 1;
  visibility: visible;
}

.field_input::placeholder {
  color: #ac907a;
  transition: all 0.3s;
}

.field_input:focus {
  padding: 26px 28px 10px 28px;
}

.field_input:focus::placeholder {
  color: #ffa55c;
}

/* ==========================Modal Button=============================== */

.modal__button {
  margin-top: 10px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__close-btn path,
.modal__close-btn rect {
  transition: all 0.5s;
}

.modal__close-btn:hover path,
.modal__close-btn:hover rect {
  stroke: var(--accent-color);
}

/* Скрываем полосу прокрутки для открытого окна */
.body--fixed {
  overflow-y: hidden;
}

/* ==========================Gallery=============================== */

.main__gallery {
  padding-bottom: 140px;
}

.gallery__items {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.gallery_img-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 624px;
  width: 100%;
}

.gallery_img img {
  width: 100%;
}

.gallery_item {
  max-width: 380px;
  margin-right: auto;
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 100%;
}

.gallery_item-title {
  margin-bottom: 20px;
}

.gallery__tab {
  display: flex;
  align-items: flex-end;
}

.gallery_swiper {
  margin-top: 40px;
}

.gallery__prev,
.gallery__next {
  width: 36px;
  height: 36px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.5s;
}

.gallery__prev svg path,
.gallery__next svg path {
  transition: all 0.5s;
  fill: var(--accent-color);
}

.gallery__prev:hover,
.gallery__next:hover {
  background: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
  fill: #fff;
}

.gallery__tab .swiper-button-disabled,
.gallery__tab .swiper-button-disabled:hover {
  border: 1px solid #e1d9e1;
  background: transparent;
  transition: all 0.5s;
}

.gallery__tab .swiper-button-disabled svg path,
.gallery__tab .swiper-button-disabled:hover svg path {
  fill: #e1d9e1;
}

.gallery__tab-pagination {
  display: flex;
  margin: 0 30px;
  font-family: "Gabriola", "Arial", serif;
  font-size: 42px;
  line-height: 0.9;
  color: var(--general-text);
  width: 40px;
  justify-content: center;
}

.gallery_swiper--mobile {
  display: none;
}

/* ==========================Gallery Slider=============================== */

.gallery__slide {
  overflow: hidden;
  border-radius: 20px;
}

.gallery__slide img {
  width: 100%;
}

/* ==========================Testimonials=============================== */

.testimonials {
  padding-bottom: 140px;
}
.testimonials_top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.testimonials_titile-inner {
  max-width: 632px;
}

.testimonials_text {
  margin-top: 20px;
}
.testimonials_tabs {
  display: flex;
  gap: 30px;
}

/* ==========================Testimonials Swiper=============================== */

.testimonials_main {
  margin-top: 40px;
}

.testimonials__prev,
.testimonials__next {
  width: 36px;
  height: 36px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.5s;
}

.testimonials__prev svg path,
.testimonials__next svg path {
  transition: all 0.5s;
  fill: var(--accent-color);
}

.testimonials__prev:hover,
.testimonials__next:hover {
  background: var(--accent-color);
}

.testimonials__prev:hover path,
.testimonials__next:hover path {
  fill: #fff;
}

.testimonials_tabs .swiper-button-disabled,
.testimonials_tabs .swiper-button-disabled:hover {
  border: 1px solid #e1d9e1;
  background: transparent;
  transition: all 0.5s;
}

.testimonials_tabs .swiper-button-disabled svg path,
.testimonials_tabs .swiper-button-disabled:hover svg path {
  fill: #e1d9e1;
}

.testimonials__swiper-wrapper {
  margin-bottom: 40px;
}

.testimonials__slide {
  border-radius: 20px;
  background: var(--accent-bg);
  height: auto; /* Автоматическая подстройка по высоте контента */
}

.testimonials__slide.swiper-slide {
  transform: scale(0.9);
  transition: all 0.5s;
  opacity: 0;
}

.testimonials__slide.swiper-slide-next,
.testimonials__slide.swiper-slide-prev {
  opacity: 0.5;
}

.swiper-slide-active.testimonials__slide {
  transform: scale(1);
  opacity: 1;
}

.testimonials__swiper.swiper {
  overflow: visible;
}

.testimonials__scrollbar.swiper-scrollbar {
  position: relative;
  /* margin-top: 42px; */
  width: 100%;
  height: 7px;
  left: 0;
  background: var(--accent-bg);
}

.testimonials__scrollbar .swiper-scrollbar-drag {
  background: var(--accent-color);
  width: 100px;
}

.testimonials__slide-inner {
  display: flex;
  gap: 30px;
  margin: 30px 30px 40px 30px;
}

.testimonials__foto-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__foto {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  max-width: 165px;
  max-height: 165px;
}

.testimonials__foto img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.testimonials__name {
  margin-top: 20px;
  line-height: 1.6;
  text-transform: uppercase;
}

.testimonials__instagram {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ceaad0;
}

.testimonials__text-inner {
  /* max-width: 369px; */
  /* max-height: 260px; */
  overflow: auto;
}

.testimonials__title {
  font-family: "Gabriola", "Arial", serif;
  font-size: 32px;
  line-height: 0.9;
  color: var(--accent-text);
  display: block;
  margin-bottom: 10px;
}

/* ==========================Contacts=============================== */

.main__contact {
  padding: 140px 0;
  background: url("../img/decor/background2.png") 50% 0% / cover no-repeat;
}
.contact__inner {
  display: flex;
  align-items: end;
  gap: 84px;
  position: relative;
}

.contact__inner::before {
  content: url("../img/decor/berries.png");
  position: absolute;
  top: -5%;
  left: 0;
}

.contact__inner::after {
  content: url("../img/decor/berries2.png");
  position: absolute;
  top: 10%;
  right: 0;
}

.contact__img img {
  width: 100%; /* Изображение по размеру контейнера */
  filter: box-shadow(0px 4px 30px 0px rgba(198, 176, 161, 0.3)); /* Тень подстраивается под границы элемента */
}
.contact__item {
  max-width: 420px;
}
.contact__title {
  margin-bottom: 20px;
}
.contact__text {
  margin-bottom: 40px;
}

.contact__form-lable {
  margin-bottom: 10px;
}
.contact_input {
  display: block;
  background: transparent;
  border-radius: 100px;
  border: 1px solid #ac907a;
  padding: 18px 28px;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  transition: all 0.9s;
}
.contact_input:hover {
  border-color: #ffa55c;
}
.contact_input::placeholder {
  color: #ac907a;
  transition: all 0.9s;
}
.contact_input:focus::placeholder {
  color: #ffa55c;
}
.contact__checkbox-lable {
  /* display: block; Делаем элемент блочным, для работы отступов */
  margin: 20px 0;
  display: flex;
  gap: 5px;
  align-items: start;
}

/* ==========================Contacts Checkbox=============================== */

.contact__checkbox {
  appearance: none; /* Скрываем стандартный чекбокс */
  margin-top: 2px;
  width: 16px;
  height: 16px;
  border: 2px solid #ac907a;
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;

  transition: all 0.5s;
}

.contact__checkbox::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/icons/check.svg") 50% 50% no-repeat;
  opacity: 0;

  transition: all 0.5s;
}

.contact__checkbox:hover {
  border: 2px solid #ffa55c;
}

.contact__checkbox:checked {
  border: 2px solid #ffa55c;
  background: #ffa55c;
}

.contact__checkbox:checked::before {
  opacity: 1;
}

/* ==========================Contacts Text=============================== */

.contact__checkbox-text {
  /* display: inline; */
  font-size: 13px;
}
.contact__checkbox-text a {
  text-decoration: underline;
  transition: all 0.5s;
}

.contact__checkbox-text:hover a {
  color: var(--accent-color);
}

.contact__decoration-img {
  margin: 0 auto 0;
}
.contact__decoration-img img {
  margin-top: 38px;
}

.contact__button {
  max-width: none;
}

/* ==========================Media=============================== */

@media (max-width: 1200px) {
  .hero_img {
    margin-right: 0;
  }
  .hero_play {
    margin-top: 20px;
    max-width: 377px;
    position: static;
    bottom: 0;
    left: 0;
  }
  .hero__info {
    margin-bottom: 100px;
  }

  .footer__items {
    flex-wrap: wrap;
  }

  .footer__items {
    justify-content: space-around;
    gap: 40px;
  }

  .footer__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .copyright {
    margin-top: 47px;
  }

  .program__top {
    flex-direction: column;
  }

  .program__item {
    flex-wrap: wrap;
  }

  .contact__inner::after {
    top: -18%;
  }
}

@media (max-width: 1100px) {
  .team___item-info {
    grid-column: 1/-1;
  }

  .team__box {
    justify-content: normal;
  }

  .accordion__list-btn {
    padding: 35px 20px;
  }

  .accordion-title {
    font-size: 37px;
  }

  .accordion-content {
    gap: 40px;
  }

  .contact__inner {
    align-items: center;
  }

  .contact__inner::before {
    top: -12%;
  }

  .contact__inner {
    gap: 30px;
  }
}

@media (max-width: 900px) {
  .nav__list {
    position: fixed;
    inset: 0;
    background: var(--general-bg);
    z-index: 10;
    flex-direction: column;
    align-items: center;
    padding: 20vh 15px 30px;
    font-size: 25px;

    transform: translateY(-90%);
    opacity: 0;
    visibility: hidden;
  }

  .burger-icon {
    display: flex;
  }

  .body--opened-menu .nav__list {
    display: flex;
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }
  .hero__info {
    margin-bottom: 0;
  }

  .copyright {
    display: none;
  }

  .copyright__mobile {
    display: flex;
    justify-content: center;
  }

  .team__items {
    grid-template-columns: none;
    justify-items: center;
  }

  .team__item-content {
    max-width: none;
    text-align: center;
  }

  .team__item-img {
    max-width: 500px;
    justify-self: center;
  }

  .price__img {
    display: none;
  }

  .price__grid {
    max-width: none;
  }

  .gallery_img-inner {
    display: none;
  }

  .gallery__items {
    justify-content: normal;
  }

  .gallery_item {
    max-width: none;
  }

  .testimonials__scrollbar.swiper-scrollbar {
    width: 50%;
    margin: 0 auto;
  }

  .contact__img {
    display: none;
  }

  .contact__inner {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .hero_img {
    display: none;
  }

  .hero__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero_play {
    margin-top: 0;
  }

  .hero_title {
    text-align: center;
  }

  .hero_data {
    flex-direction: row;
    justify-content: center;
  }

  .hero__text {
    max-width: 100%;
    text-align: center;
    margin: 20px 10px;
  }

  .hero__button-width {
    margin: 0 auto;
  }

  .hero_play--mobile {
    display: flex;
    margin: 20px auto;
    max-width: 300px;
  }
  .hero {
    padding-bottom: 80px;
  }

  .team___item-info {
    grid-template-columns: none;
  }

  .accordion-content {
    flex-direction: column;
  }

  .accordion-content__col:first-child {
    max-width: none;
  }

  .accordion-content__text {
    max-width: none;
  }

  .testimonials_top {
    flex-direction: column;
  }

  .testimonials_tabs {
    margin-top: 30px;
  }

  .testimonials_titile-inner {
    max-width: none;
  }

  .contact__inner::before {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero_title {
    font-size: 12vw;
  }
  .hero {
    padding-bottom: 80px;
  }

  .social__items {
    justify-content: center;
  }

  .footer__address-item {
    justify-content: center;
  }

  .footer__items {
    gap: 0;
  }

  .logo__footer {
    display: flex;
    justify-content: center;
  }

  .footer__menu {
    margin: 40px 0;
  }

  .team__title {
    font-size: 12vw;
  }

  .team___item-info {
    gap: 15px;
  }

  .team__box {
    padding: 20px 15px;
  }

  .team__gift {
    left: 0;
    bottom: 0;
    max-width: none;
    padding: 10px 10px;
    margin-right: 0;
    border-radius: 0;
  }

  .team {
    padding: 60px 0 80px;
  }

  .modal__window {
    padding: 0 20px 0 20px;
    margin: 0 5px;
  }

  .modal__button {
    margin-top: 10px;
    max-width: none;
  }

  .modal__title {
    font-size: 35px;
  }

  .modal__close-btn {
    right: 8px;
  }

  .modal__window {
    height: 53%;
  }

  .modal__window > img {
    width: 80%;
  }

  .program__title {
    text-align: center;
    font-size: 12vw;
  }

  .program__text {
    text-align: center;
  }

  .program__item {
    justify-content: center;
  }

  .program__button {
    padding: 10px 25px;
  }

  .accordion-title {
    font-size: 28px;
  }

  .accordion__arrow-inner {
    width: 30px;
    height: 30px;
  }

  .accordion__arrow-inner svg {
    width: 10px;
  }

  .price__discount-inner {
    grid-column: -1/1;
    justify-self: center;
  }

  .price__grid {
    grid-template: none;
  }

  .price__item-one,
  .price__item-two {
    text-align: center;
    /* justify-self: center; */
  }

  .accordion {
    margin-top: 25px;
  }

  .program {
    padding-bottom: 80px;
  }

  .gallery__items {
    flex-direction: column;
    gap: 0;
  }

  .gallery__tab {
    justify-content: flex-end;
    margin-top: 30px;
  }

  .gallery_swiper--mobile {
    display: block;
  }

  .swiper--desktop {
    overflow: hidden;
    height: 0.1px;
  }

  .gallery_item-title {
    text-align: center;
  }

  .gallery_item-text {
    text-align: center;
  }

  .testimonials_titile-inner {
    text-align: center;
  }

  .testimonials__slide-inner {
    flex-direction: column;
  }

  .testimonials__text-inner {
    text-align: center;
  }

  .gallery_swiper,
  .testimonials_main {
    margin-top: 20px;
  }

  .contact__item {
    text-align: center;
  }

  .contact__checkbox-text {
    text-align: left;
  }
}

@media (max-width: 450px) {
  .accordion__list-btn {
    padding: 25px 15px;
  }

  .accordion-content {
    padding: 0 15px 30px;
    gap: 25px;
  }

  .accordion-content__list {
    margin-top: 10px;
  }

  .accordion-content__item {
    margin-bottom: 10px;
  }

  .gallery_item-title,
  .testimonials_titile,
  .contact__title {
    font-size: 14vw;
    text-align: center;
  }

  .gallery_item-text {
    text-align: center;
  }

  .main__gallery {
    padding-bottom: 80px;
  }
  .main__contact {
    padding-bottom: 80px;
  }
}
