.container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* ================================================================================================ */

header {
  padding: 60px 0;
}

.header {
  display: flex;
}

.header__nav {
  margin: 0 auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-list a {
  margin-left: 10px;
}

.header__menu {
  margin-left: auto;
}

.hero {
  padding: 60px 0;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  padding: 60px 0;
}

.about__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  padding: 60px 0;
}

.cards__flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
